/*
改造步骤：
1.set up a structure: color;size;align;font family etc
  column:
  title:
  content:
  
2.reconsider:is the painting part necessary?

3.add contact on the about page

4.tbc


*/


/*
font-family: 'Codystar', cursive;
font-family: 'Flow Circular', cursive;
font-family: 'Kablammo', cursive;
font-family: 'Libre Barcode 39', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Noto Serif SC', serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Pixels', cursive;
font-family: 'Special Elite', cursive;
font-family: 'VT323', monospace;
*/
  


body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/017.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  overflow:auto;
  overflow-x:hidden;
  font-family:monospace ;
}

p {
  line-height: 1.5;
}
h3{
  color: #ffffff;
}

  nav {
    text-align: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: garamond,serif;
    font-weight: 700;
  }

.sub{
  font-size: 16px;
  color: #ffffff;
  font-family: monospace,serif;
  margin-left: 20%;
  margin-right: 40%;
}
  
 .dotted{
     border-style: none;
     border-top-style: dotted;
     border-color: #EFA3C8;
     border-width: 8px;
     height: 0px;
     width: 5%;
 }

 .none{
   border-style: none;
   height: 0px;
 }
 h1{
    color: #ffffff;
    font-size: 20px;
    font-family: garamond,serif;
 }

 h4{color: #ffffff;
  font-family:  garamond,serif;
}

 
 
 
