body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/017.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;
  overflow:hidden;
}

p {
  line-height: 1.5;
}
h3{
  color: #ffffff;
}

  nav {
    text-align: center;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: garamond,serif;
    font-weight: 700;
  }

.sub{
  font-size: 12px;
  color: #ffffff;
  font-family: garamond,serif;
}
  
 .dotted{
     border-style: none;
     border-top-style: dotted;
     border-color: #EFA3C8;
     border-width: 8px;
     height: 0px;
     width: 5%;
 }

 .none{
   border-style: none;
   height: 0px;
 }
 h1{
    color: #ffffff;
    font-size: 16px;
    font-family: garamond,serif;
 }

 h4{color: #ffffff;
  font-family:  garamond,serif;
}

 
 
 
